@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /* sonradan eklenenler */
  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /* sonradan eklenenler */
  padding: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}


ul {
  /* sonradan eklenenler */
  list-style-type: none;
}

.header {
  /* sonradan eklenenler */
  display: flex;
  justify-content: space-between;
  
  
}


.ust-left-links {
  /* sonradan eklenenler */
  display: flex;
  justify-content: flex-start;
  padding: 16px;
  gap: 8px;
  margin-top: 0px;
  color: gray;
  text-decoration: none;

} 

.ust-right-links {
  /* sonradan eklenenler */
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  gap: 8px;
  margin-top: 0px;
  
}


.footer {
  /* sonradan eklenenler */
  display: flex;
  flex-direction: ;
  justify-content: space-between; 
  background-color: #eeeeee;
  
}

.alt-left-links {
    /* sonradan eklenenler */
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    margin-bottom: 0px;
    gap: 8px;
}

.alt-right-links {
    /* sonradan eklenenler */
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    gap: 8px;
}

.content {
  /* sonradan eklenenler */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}


a {
  /* sonradan eklenenler */
  text-decoration:none ;
  color: gray;
}


